@import "tailwindcss";

@theme {
  --color-maroon-50: #fdf2f4;
  --color-maroon-100: #fce7eb;
  --color-maroon-200: #f8cfd7;
  --color-maroon-300: #f1a7b6;
  --color-maroon-400: #e3748c;
  --color-maroon-500: #ce4465;
  --color-maroon-600: #b32b49;
  --color-maroon-700: #931d36;
  --color-maroon-800: #800020;
  --color-maroon-900: #6a041d;
  --color-maroon-950: #3e010f;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
